body {
  background-image: url("https://media.tenor.com/m3izlzrZ1YgAAAAd/space-galaxy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "JetBrains Mono", monospace;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

.keyword {
  color: #B19CD9;
  font-size: 1em;
}

.function {
  color: #A020F0;
  font-size: 1.2em;
}


.symbols {
  color: #DCDCDC;
  font-size: 1em;
}

.interests {
  color: #DCDCDC;
  font-size: 1em;
}

.text {
  color: #2E8B57;
  font-size: 1em;
}

.line-numbers {
  text-align: left; /* Align line numbers to the right */
  padding-right: 10px; /* Space between line numbers and code */
  color: #D3D3D3; /* Light grayish-white for line numbers */
  font-size: 1.2em; /* Font size for line numbers */
}

