body {
  background-image: url("https://media.tenor.com/m3izlzrZ1YgAAAAd/space-galaxy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "JetBrains Mono", monospace;
  padding-top: 40px;
}

.container {
    margin: 0 auto;
    width: 60%;
    padding: 10px;
}

.function-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.typewriter, .typewriter1 {
    color: #2E8B57;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    margin-bottom: 20px;
    animation:
        typing 3s steps(157),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {  border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
}

/* Other styles for your text */
.keyword {
  color: #B19CD9;
  font-size: 1em; /* Adjust size */
}

.function {
  color: #A020F0;
  font-size: 1.2em; /* Adjust size */
}

.symbols {
  color: #DCDCDC;
  font-size: 1em; /* Adjust size */
}

.interests {
  color: #DCDCDC;
  font-size: 1em;
}

.text {
  color: #2E8B57;
  font-size: 1em;
  margin-right: 5px;
}

p {
  padding-left: 30px;
  line-height: 1.5;
}


