body {
  background-image: url("https://media.tenor.com/m3izlzrZ1YgAAAAd/space-galaxy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "JetBrains Mono", monospace;
  padding: 0px;
  margin: 0px;
  padding-top: 60x;
}

.container {
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    
}

.function-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 90px;
}

.typewriter, .typewriter1 {
    color: #2E8B57;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 1.2em;
    animation:
        typing 3s steps(157),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {  border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
}

.keyword {
  color: #B19CD9;
  margin-right: 8px;
  font-size: 1.2em; /* Adjust size */
}

.function {
  color: #A020F0;
  font-size: 1.5em; /* Adjust size */
}

.symbols {
  color: #DCDCDC;
  font-size: 1.1em; /* Adjust size */
}

.interests {
  color: #DCDCDC;
  font-size: 1em;
}

.text {
  color: #2E8B57;
  font-size: 1.1em;
  margin-right: 5px;
}

p {
  padding-left: 30px;
  line-height: 1.5;
}

.projects-section {
    margin-top: 20px;
}

.projects {
    display: flex;
    align-items: flex; 
    margin-bottom: 0px;
    flex-direction: column;
}

.projects-image {
    width: 80px;  /* Set the width of the image */
    height: 80px; /* Set the height of the image to make it square */
    margin-right: 15px; /* Space between the image and content */
    border-radius: 8px; /* Optional: gives the image rounded corners */
}

.projects-description {
    max-width: 80%;
}

.projects-title a {
    color: #A020F0;
    text-decoration: none;
}

.projects-title a:hover {
    color: #B19CD9;
    text-decoration: underline;
}

.container-project {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

.hello {
   color: #A020F0;
   font-size: 3em;
   text-align: center;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-image img {
    max-width: 100%; 
    height: auto; 
}

.description-project {
    margin: 0 auto;
    width: 70%;
    padding: 0px;
   text-align: center;
}

.description-text {
    text-align: left;
}

.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #A020F0;
    color: white; 
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.home-button:hover {
    background-color: #B19CD9;
}

.scroll-up {
    display: inline-block;
    background-color: #A020F0;
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease; 
    margin-top: 20px; 
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
    text-align: center;
}

.scroll-up:hover {
    background-color: #B19CD9;
}

.scroll-up.show {
    opacity: 1;
}
/*
.resume a {
    font-size: 1em;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #A020F0;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.resume a:hover {
    background-color: #B19CD9;
    text-decoration: none;
}
*/

/*Designing Navbar*/
.navbar {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: #333;
   padding: 10px 0px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
   transition: transform 0.3s ease;
}

.navbar-design, .my-resume {
   color: white;
   font-family: "JetBrains Mono", monospace;
   text-decoration: none;
   font-size: 1.2em;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

