{{ define "header" }}
{{ partial "heading.html" . }}
{{ end }}

{{ define "main" }}
<main>
  <section class="content">
    <blockquote>
      O city, a bitter lament set up as thy lament;<br>
      Thy lament which is bitter—<br>
      O city, set up as thy lament,<br>
      His righteous city which has been destroyed—<br>
      Bitter is its lament;<br>
      His Ur which has been destroyed—<br>
      Bitter is its lament;
      Thy lament which is bitter—<br>
      O city, set up as thy lament;<br>
      His Ur which has been destroyed—<br>
      Bitter is its lament.<br>
    </blockquote>
    <cite><i> - Lament for Ur</i>, c. 2000 BC</cite>
  </section>
</main>
{{ end }}